@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-white: #FFFFFF;
  --color-white-gray: #F9F9F9;
  --color-form: #F6F6F6;
  --color-dark-blue: #141024;
  --color-red: #D52027;
  --color-text: rgba(20, 16, 36, 0.7);
  --color-line: rgba(20, 16, 36, 0.2);
  --color-overlay: rgba(20, 16, 36, 0.1);
  --color-scrollbar: rgba(20, 16, 36, 0.08);
  --color-placeholder: rgba(40, 41, 68, 0.7);
  --color-copyright: rgba(255, 255, 255, 0.7);
  --border: 0.0625rem solid var(--color-line);
  --shadow: 0 0.125rem 0.5rem 0 rgba(20, 16, 36, 0.1);
  --shadow-form-validation: 0 0 0.625rem 0.25rem var(--color-dark-blue);
  --font-family-base: "Jost", sans-serif;
  --container-width: 72.5rem;
  --container-padding-x: 0.625rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(1rem, 0.9366883117rem + 0.2597402597vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-white);
}
body.is-open {
  overflow: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(1.875rem, 0.6087662338rem + 5.1948051948vw, 4.375rem);
  color: var(--color-white);
  text-transform: uppercase;
  text-wrap: nowrap;
}

h2, .h2 {
  font-size: clamp(1.875rem, 1.2418831169rem + 2.5974025974vw, 3.125rem);
  color: var(--color-dark-blue);
}
@media (width <= 47.99875rem) {
  h2, .h2 {
    line-height: 1.4;
  }
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1233766234rem + 0.5194805195vw, 1.5rem);
  color: var(--color-dark-blue);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-red);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-red);
  }
}
a[class] {
  text-decoration: none;
}

section:nth-child(2),
section:nth-child(4),
section:nth-child(5) {
  padding-block: 7.5rem;
}
@media (width <= 47.99875rem) {
  section:nth-child(2),
  section:nth-child(4),
  section:nth-child(5) {
    padding-block: 3.75rem;
  }
}

section:nth-child(3) {
  padding-block: 6.25rem;
}
@media (width <= 47.99875rem) {
  section:nth-child(3) {
    padding-top: 2.5rem;
    padding-bottom: 3.25rem;
  }
}

section:nth-child(6) {
  padding-block: 5.4375rem;
}
@media (width <= 47.99875rem) {
  section:nth-child(6) {
    padding-block: 2.5rem;
  }
}

#school {
  scroll-margin-top: -1.375rem;
}
@media (width <= 47.99875rem) {
  #school {
    scroll-margin-top: 1.5rem;
  }
}

#coaches,
#price {
  scroll-margin-top: -2.625rem;
}
@media (width <= 47.99875rem) {
  #coaches,
  #price {
    scroll-margin-top: 0.25rem;
  }
}

:focus-visible {
  outline: 0.125rem dashed var(--color-red);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.hero {
  background-color: var(--color-dark-blue);
}
.hero__body {
  position: relative;
  display: flex;
  column-gap: 1.75rem;
  color: var(--color-white);
  padding-left: 19.7916666667vw;
}
@media (width <= 90.06125rem) {
  .hero__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-inline: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__body {
    grid-template-columns: 1fr;
    padding-top: 6.25rem;
    padding-bottom: 2.5rem;
  }
}
.hero__content {
  padding-top: 21.5rem;
}
@media (width <= 90.06125rem) {
  .hero__content {
    padding: 0;
  }
}
@media (width <= 47.99875rem) {
  .hero__content {
    display: contents;
  }
}
.hero__text {
  display: grid;
  row-gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .hero__text {
    order: 1;
    row-gap: 0.625rem;
    text-align: center;
  }
}
.hero__text:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (width <= 47.99875rem) {
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__description {
  max-width: 29.875rem;
}
@media (width <= 47.99875rem) {
  .hero__description {
    max-width: 18.75rem;
    margin: 0 auto;
    text-align: center;
  }
}
.hero__image {
  padding-top: 10.125rem;
  align-self: end;
}
@media (width <= 47.99875rem) {
  .hero__image {
    padding: 0;
    order: 2;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 8.125rem;
  background-color: var(--color-dark-blue);
}
@keyframes scrolling-header {
  to {
    background-color: var(--color-dark-blue);
    box-shadow: 0 0 1rem 0 var(--color-red);
  }
}
.header__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  color: var(--color-white);
  padding-top: 1.875rem;
  padding-inline: 6.25rem;
}
@media (width <= 90.06125rem) {
  .header__body {
    padding-inline: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body {
    padding: 0.625rem;
  }
}
.header__logo {
  font-size: clamp(1.125rem, 0.7451298701rem + 1.5584415584vw, 1.875rem);
  font-weight: 700;
  text-transform: uppercase;
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    z-index: 4;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 0.625rem;
    background-color: var(--color-dark-blue);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.header__menu-link {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
}
@media (any-hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  transition: width 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--color-red);
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-weight: 600;
    font-size: 1.875rem;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.header__phone {
  font-size: clamp(1.125rem, 0.7451298701rem + 1.5584415584vw, 1.875rem);
  font-weight: 600;
}
@media (width <= 47.99875rem) {
  .header__phone {
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0.625rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }
}
@media (width <= 47.99875rem) and (any-hover: hover) {
  .header__phone:hover {
    border-color: var(--color-red);
  }
  .header__phone:hover svg path {
    fill: var(--color-red);
  }
}
@media (width <= 47.99875rem) and (any-hover: none) {
  .header__phone:active {
    border-color: var(--color-red);
  }
  .header__phone:active svg path {
    fill: var(--color-red);
  }
}

.burger-button {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.1875rem;
  position: relative;
  z-index: 5;
  padding-inline: 0.5rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
}
@media (any-hover: hover) {
  .burger-button:hover {
    border-color: var(--color-red);
  }
  .burger-button:hover .burger-button__line {
    background-color: var(--color-red);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    border-color: var(--color-red);
  }
  .burger-button:active .burger-button__line {
    background-color: var(--color-red);
  }
}
.burger-button.is-active {
  padding: 0;
}
.burger-button.is-active .burger-button__line {
  width: 1.0625rem;
  margin: 0;
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  animation: firstLineToCross 0.2s ease-in-out forwards;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  animation: secondLineFade 0.2s ease-in-out forwards;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  animation: thirdLineToCross 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(1) {
  animation: firstLineToBurger 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(2) {
  animation: secondLineShow 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(3) {
  animation: thirdLineToBurger 0.2s ease-in-out forwards;
}
.burger-button__line {
  display: block;
  height: 0.125rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  transition-duration: var(--transition-duration);
}
.burger-button__line:nth-child(1), .burger-button__line:nth-child(2) {
  width: 1.625rem;
}
.burger-button__line:nth-child(3) {
  margin-right: auto;
  width: 0.8125rem;
}
@keyframes firstLineToCross {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(0.3125rem) rotate(0);
  }
  100% {
    transform: translateY(0.3125rem) rotate(45deg);
  }
}
@keyframes secondLineFade {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  50% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes thirdLineToCross {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-0.3125rem) rotate(0);
  }
  100% {
    transform: translateY(-0.3125rem) rotate(-45deg);
  }
}
@keyframes firstLineToBurger {
  0% {
    transform: translateY(0.5625rem) rotate(45deg);
  }
  50% {
    transform: translateY(0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes secondLineShow {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes thirdLineToBurger {
  0% {
    transform: translateY(-0.5625rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  border-radius: 0.3125rem;
  padding: 1.5625rem 3.375rem;
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-red);
    background-color: var(--color-white);
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-red);
    background-color: var(--color-white);
  }
}
.button--hero {
  justify-self: start;
}
@media (width <= 90.06125rem) {
  .button--hero {
    padding: 1.25rem 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .button--hero {
    order: 3;
    width: 100%;
    margin-top: -3.75rem;
  }
}
@media (width <= 30.06125rem) {
  .button--hero {
    padding-block: 1.0625rem;
  }
}
.button--package {
  text-wrap: nowrap;
  padding: 1.5625rem 4.875rem;
}
@media (width <= 30.06125rem) {
  .button--package {
    padding-block: 1.0625rem;
    padding-inline: 0;
    width: 100%;
  }
}
.button--form {
  padding-block: 1.1875rem;
  width: 100%;
  background-color: var(--color-dark-blue);
}

.statistics__heading {
  font-size: clamp(1.25rem, 0.9334415584rem + 1.2987012987vw, 1.875rem);
  color: var(--color-dark-blue);
  max-width: 55.6875rem;
}
@media (width <= 47.99875rem) {
  .statistics__heading {
    max-width: 100%;
  }
}
.statistics__heading:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (width <= 47.99875rem) {
  .statistics__heading:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.statistics__heading span {
  font-weight: 600;
}
.statistics__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .statistics__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .statistics__list {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
    text-align: center;
  }
}
.statistics__value {
  font-size: clamp(3.75rem, 3.4334415584rem + 1.2987012987vw, 4.375rem);
  font-weight: 600;
  color: var(--color-red);
  text-wrap: nowrap;
}

.benefit {
  background-color: var(--color-white-gray);
}
.benefit__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .benefit__list {
    column-gap: 1.25rem;
  }
}
@media (width <= 30.06125rem) {
  .benefit__list {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }
}
@media (width <= 30.06125rem) {
  .benefit__item {
    text-align: center;
  }
}
.benefit__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (width <= 30.06125rem) {
  .benefit__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.benefit__clue {
  display: flex;
  column-gap: 0.625rem;
}
@media (width <= 30.06125rem) {
  .benefit__clue {
    position: relative;
    justify-content: center;
  }
}

.heading-title:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (width <= 47.99875rem) {
  .heading-title:not(:last-child) {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.tooltip {
  position: relative;
}
@media (width <= 30.06125rem) {
  .tooltip {
    position: static;
  }
}
@media (any-hover: hover) {
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .tooltip:hover svg path:nth-child(1) {
    fill: var(--color-red);
  }
}
@media (any-hover: none) {
  .tooltip:active::after {
    opacity: 1;
    visibility: visible;
  }
  .tooltip:active svg path:nth-child(1) {
    fill: var(--color-red);
  }
}
.tooltip::after {
  transition: all 0.2s ease-in-out;
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 0;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.3125rem;
  color: var(--color-dark-blue);
  background: var(--color-white);
  box-shadow: var(--shadow);
  text-wrap: nowrap;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}
@media (width <= 90.06125rem) {
  .tooltip::after {
    left: auto;
    right: 0;
  }
}
@media (width <= 30.06125rem) {
  .tooltip::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 1.25rem;
    font-size: 0.875rem;
  }
}

.coaches-slider__wrapper:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (width <= 47.99875rem) {
  .coaches-slider__wrapper:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.coaches-slider__navigation {
  position: relative;
  height: 2.5rem;
}
.coaches-slider__buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 6.25rem;
  height: 2.5rem;
}
@media (width <= 47.99875rem) {
  .coaches-slider__buttons {
    display: none;
  }
}
.coaches-slider__scrollbar {
  width: 22.5rem !important;
  height: 0.3125rem !important;
  background-color: var(--color-scrollbar);
  border-radius: 2.5rem;
}
@media (width <= 47.99875rem) {
  .coaches-slider__scrollbar {
    width: 100% !important;
  }
}
.coaches-slider__scrollbar-drag {
  background-color: var(--color-dark-blue);
}

.card-coaches {
  display: grid;
  row-gap: 1.25rem;
}
.card-coaches__image img {
  border-radius: 1.25rem;
}
.card-coaches__text {
  display: grid;
  row-gap: 0.625rem;
}
.card-coaches__department {
  font-size: 1.125rem;
}
@media (width <= 47.99875rem) {
  .card-coaches__department {
    font-size: 0.875rem;
  }
}
.card-coaches__button {
  font-size: 1.125rem;
  border: none;
  color: var(--color-red);
  background-color: transparent;
  justify-self: start;
}
@media (any-hover: hover) {
  .card-coaches__button:hover {
    color: var(--color-dark-blue);
  }
}
@media (any-hover: none) {
  .card-coaches__button:active {
    color: var(--color-dark-blue);
  }
}
@media (width <= 30.06125rem) {
  .card-coaches__button {
    font-size: 1rem;
  }
}

.modal__overlay {
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__overlay.is-active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background-color: var(--color-overlay);
}
.modal__inner {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 110;
  display: grid;
  row-gap: 2.5rem;
  width: 100%;
  max-width: 58.75rem;
  padding: 2.5rem;
  border-radius: 1.25rem;
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .modal__inner {
    padding: 1.25rem;
    row-gap: 0.625rem;
  }
}
.modal__inner.is-active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
@media (width <= 63.99875rem) {
  .modal__inner.is-active {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
.modal__heading {
  display: flex;
  justify-content: space-between;
}
.modal__person {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .modal__person {
    column-gap: 1.25rem;
  }
}
.modal__photo img {
  border-radius: 1.25rem;
}
.modal__info {
  display: grid;
  row-gap: 0.625rem;
  align-self: start;
}
.modal__button-close {
  color: var(--color-text);
  border: none;
  padding: 0;
  background-color: transparent;
  align-self: start;
}
@media (any-hover: hover) {
  .modal__button-close:hover {
    color: var(--color-red);
  }
}
@media (any-hover: none) {
  .modal__button-close:active {
    color: var(--color-red);
  }
}

.soc1als-modal__list {
  display: flex;
  column-gap: 0.625rem;
}
@media (any-hover: hover) {
  .soc1als-modal__link:hover svg path {
    fill: var(--color-red);
  }
}
@media (any-hover: none) {
  .soc1als-modal__link:active svg path {
    fill: var(--color-red);
  }
}

.tabs__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.625rem;
  justify-items: flex-start;
  padding-bottom: 1.25rem;
  border-bottom: var(--border);
}
.tabs__button {
  font-size: 1.25rem;
  color: var(--color-line);
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (width <= 47.99875rem) {
  .tabs__button {
    font-size: 1.125rem;
  }
}
@media (width <= 30.06125rem) {
  .tabs__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .tabs__button:hover {
    color: var(--color-dark-blue);
  }
}
@media (any-hover: none) {
  .tabs__button:active {
    color: var(--color-dark-blue);
  }
}
.tabs__button.is-active {
  color: var(--color-red);
}
.tabs__body {
  position: relative;
  padding-top: 1.25rem;
}
.tabs__body::after {
  position: absolute;
  content: "";
  width: 98%;
  height: 1.5625rem;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5098039216)), color-stop(rgba(255, 255, 255, 0.5098039216)), to(rgba(255, 255, 255, 0.8509803922)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.5098039216), rgba(255, 255, 255, 0.5098039216), rgba(255, 255, 255, 0.8509803922));
}
.tabs__content {
  display: none;
  color: var(--color-dark-blue);
  overflow-y: scroll;
  height: 22.1875rem;
}
.tabs__content.is-visible {
  display: block;
}
.tabs__heading:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (width <= 30.06125rem) {
  .tabs__heading:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.tabs__description {
  font-size: clamp(1rem, 0.8733766234rem + 0.5194805195vw, 1.25rem);
}
.tabs__description:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (width <= 30.06125rem) {
  .tabs__description:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.tabs__description p {
  margin: 0;
}

.package__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.package__item {
  width: 100%;
  max-width: 22.5rem;
  border: var(--border);
  border-radius: 1.25rem;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .package__item:hover {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    transform: scale(1.05);
  }
}
@media (any-hover: none) {
  .package__item:active {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    transform: scale(1.05);
  }
}

.card-package {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem;
  height: 100%;
}
@media (width <= 30.06125rem) {
  .card-package {
    display: grid;
    row-gap: 2.5rem;
    padding: 2.5rem 1.5625rem;
  }
}
.card-package__header {
  font-weight: 600;
  font-size: 1.875rem;
}
.card-package__header:not(:last-child) {
  margin-bottom: 5.1875rem;
}
@media (width <= 30.06125rem) {
  .card-package__header:not(:last-child) {
    margin-bottom: 0;
  }
}
.card-package__main {
  display: grid;
  row-gap: 1.25rem;
  flex-grow: 1;
}
.card-package__main:not(:last-child) {
  margin-bottom: 3.25rem;
}
@media (width <= 30.06125rem) {
  .card-package__main:not(:last-child) {
    margin-bottom: 0;
  }
}
.card-package__price {
  font-weight: 600;
  font-size: 3.125rem;
}
.card-package__text {
  max-width: 15.625rem;
  margin: 0 auto;
}

.course {
  position: relative;
  background-color: var(--color-red);
  overflow-y: hidden;
}
.course::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.1875rem;
  width: 100%;
  height: 7.5rem;
  background: url("../icon/percent.svg") center/contain no-repeat;
}
@media (width <= 47.99875rem) {
  .course::before {
    display: none;
  }
}
.course__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
  padding-inline: 3.125rem;
}
@media (width <= 47.99875rem) {
  .course__body {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    padding: 0;
  }
}
.course__content {
  display: grid;
  row-gap: 1.25rem;
  color: var(--color-white);
  align-self: start;
}
@media (width <= 47.99875rem) {
  .course__content {
    justify-self: center;
    text-align: center;
    row-gap: 0.625rem;
  }
}
.course__text {
  font-size: clamp(1.875rem, 1.6850649351rem + 0.7792207792vw, 2.25rem);
  font-weight: 600;
  line-height: 1.3;
  max-width: 24.0625rem;
}
@media (width <= 47.99875rem) {
  .course__text {
    line-height: 1.4;
    max-width: 100%;
  }
}
.course__description {
  font-size: clamp(1rem, 0.8733766234rem + 0.5194805195vw, 1.25rem);
  line-height: 1.3;
}
@media (width <= 47.99875rem) {
  .course__description {
    line-height: 1.6;
  }
}

.feedback-form {
  display: grid;
  row-gap: 0.625rem;
  max-width: 31.25rem;
}
@media (width <= 47.99875rem) {
  .feedback-form {
    max-width: 100%;
  }
}

.field__input {
  width: 100%;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  border: none;
  border-radius: 0.3125rem;
  padding-inline: 1.25rem;
  height: 4rem;
}
.field__input::placeholder {
  color: var(--color-placeholder);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.875rem;
  padding: 2.5rem 6.25rem;
  background-color: var(--color-dark-blue);
}
@media (width <= 90.06125rem) {
  .footer__inner {
    padding-inline: 0.625rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
  }
}
.footer__content {
  display: grid;
  row-gap: 0.3125rem;
}
@media (width <= 30.06125rem) {
  .footer__content {
    row-gap: 1.25rem;
  }
}
.footer__logo {
  font-size: clamp(1.125rem, 0.7451298701rem + 1.5584415584vw, 1.875rem);
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
}
.footer__copyright {
  font-size: 1rem;
  color: var(--color-copyright);
}
.footer__tel {
  font-size: clamp(1rem, 0.5568181818rem + 1.8181818182vw, 1.875rem);
  font-weight: 600;
  color: var(--color-white);
}

/*# sourceMappingURL=main.css.map */