@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden
    }
}

body {
    @include fluid-text(18, 16);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-white);

    &.is-open {
        overflow: hidden;
    }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-weight: 600;
}

h1, .h1 {
    @include fluid-text(70, 30);

    color: var(--color-white);
    text-transform: uppercase;
    text-wrap: nowrap;
}

h2, .h2 {
    @include fluid-text(50, 30);
    
    @include mobile {
        line-height: 1.4;
    }

    color: var(--color-dark-blue);
}

h3, .h3 {
    @include fluid-text(24, 20);

    color: var(--color-dark-blue);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-red);
    }

    &[class] {
        text-decoration: none;
    }
}

section:nth-child(2),
section:nth-child(4),
section:nth-child(5) {
    padding-block: rem(120);

    @include mobile {
        padding-block: rem(60);
    }
}

section:nth-child(3) {
    padding-block: rem(100);

    @include mobile {
        padding-top: rem(40);
        padding-bottom: rem(52);
    }
}

section:nth-child(6) {
    padding-block: rem(87);

    @include mobile {
        padding-block: rem(40);
    }
}

#school {
    scroll-margin-top: rem(-22);

    @include mobile {
        scroll-margin-top: rem(24);
    }
}

#coaches,
#price {
    scroll-margin-top: rem(-42);

    @include mobile {
        scroll-margin-top: rem(4);
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-red);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}
