@use 'fonts';
@use 'normalize';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/hero';
@use 'blocks/header';
@use 'blocks/burger-button';
@use 'blocks/button';

@use 'blocks/statistics';

@use 'blocks/benefit';
@use 'blocks/heading-title';
@use 'blocks/tooltip';

// .header,
// main > *:not(:last-child),
// .footer {
//     display: none !important;
// }