@use 'fonts';
@use 'normalize';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/hero';
@use 'blocks/header';
@use 'blocks/burger-button';
@use 'blocks/button';

@use 'blocks/statistics';

@use 'blocks/benefit';
@use 'blocks/heading-title';
@use 'blocks/tooltip';

@use 'blocks/coaches';
@use 'blocks/coaches-slider';
@use 'blocks/card-coaches';
@use 'blocks/modal';
@use 'blocks/soc1als-modal';
@use 'blocks/tabs';

@use 'blocks/package';
@use 'blocks/card-package';

@use 'blocks/course';
@use 'blocks/feedback-form';
@use 'blocks/field';

@use 'blocks/footer';