@use 'helpers' as *;

.burger-button {
    @include square(rem(44));
    @include flexbox (true, center, center);
    
    flex-direction: column;
    row-gap: rem(3);
    position: relative;
    z-index: 5;
    padding-inline: rem(8);
    background: rgba(255, 255, 255, 0.08);
    border-radius: rem(10);
    border: rem(1) solid rgba(255, 255, 255, 0.5);

    @include hover {
        border-color: var(--color-red);
        
        .burger-button__line {
           background-color: var(--color-red); 
        }        
    }

    &.is-active {
        padding: 0;

        .burger-button__line {
            width: rem(17);
            margin: 0;
            
            &:nth-child(1) {
                animation: firstLineToCross 0.2s ease-in-out forwards;
            }

            &:nth-child(2) {
                animation: secondLineFade 0.2s ease-in-out forwards;
            }

            &:nth-child(3) {
                animation: thirdLineToCross 0.2s ease-in-out forwards;
            }            
        }
    }

    &:not(.is-active) {
        .burger-button__line {
            &:nth-child(1) {
                animation: firstLineToBurger 0.2s ease-in-out forwards;
            }

            &:nth-child(2) {
                animation: secondLineShow 0.2s ease-in-out forwards;
            }

            &:nth-child(3) {
                animation: thirdLineToBurger 0.2s ease-in-out forwards;
            }            
        }
    }

    &__line {
        display: block;
        height: rem(2);
        border-radius: 1rem;
        background-color: var(--color-white);
        transition-duration: var(--transition-duration);

        &:nth-child(1),
        &:nth-child(2) {
            width: rem(26);
        }

        &:nth-child(3){
            margin-right: auto;
            width: rem(13);
        }
    }

    @keyframes firstLineToCross {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(rem(5)) rotate(0);
        }
        100% {
            transform: translateY(rem(5)) rotate(45deg);
        }
    }

    @keyframes secondLineFade {
        0% {
            opacity: 1;
            transform: scaleX(1);
        }
        50% {
            opacity: 0;
            transform: scaleX(0);
        }
        100% {
            opacity: 0;
            transform: scaleX(0);
        }
    }

    @keyframes thirdLineToCross {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(rem(-5)) rotate(0);
        }
        100% {
            transform: translateY(rem(-5)) rotate(-45deg);
        }
    }

    @keyframes firstLineToBurger {
        0% {
            transform: translateY(rem(9)) rotate(45deg);
        }
        50% {
            transform: translateY(rem(9)) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }

    @keyframes secondLineShow {
        0% {
            opacity: 0;
            transform: scaleX(0);
        }
        50% {
            opacity: 1;
            transform: scaleX(1);
        }
        100% {
            opacity: 1;
            transform: scaleX(1);
        }
    }

    @keyframes thirdLineToBurger {
        0% {
            transform: translateY(rem(-9)) rotate(-45deg);
        }
        50% {
            transform: translateY(rem(-9)) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
}