@use 'helpers' as *;

.course {
    position: relative;
    background-color: var(--color-red);
    overflow-y: hidden;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem(-35);
        width: 100%;
        height: rem(120);
        background: url('../icon/percent.svg') center/contain no-repeat;

        @include mobile {
            display: none;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        padding-inline: rem(50);

        @include mobile {
            grid-template-columns: 1fr;
            row-gap: rem(40);
            padding: 0;
        }
    }

    &__content {
        display: grid;
        row-gap: rem(20);
        color: var(--color-white);
        align-self: start;

        @include mobile {
            justify-self: center;
            text-align: center;
            row-gap: rem(10)
        }
    }

    &__text {
        @include fluid-text(36, 30);

        font-weight: 600;
        line-height: 1.3;
        max-width: rem(385);

        @include mobile {
            line-height: 1.4;
            max-width: 100%;
        }
    }

    &__description {
        @include fluid-text(20, 16);

        line-height: 1.3;

        @include mobile {
            line-height: 1.6;
        }
    }
}