@use 'helpers' as *;

.package {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem(40);
    }

    &__item {
        width: 100%;
        max-width: rem(360);
        border: var(--border);
        border-radius: rem(20);
        color: var(--color-dark-blue);
        background-color: var(--color-white);
        transition-duration: var(--transition-duration);

        @include hover {
            color: var(--color-white);
            background-color: var(--color-dark-blue);
            transform: scale(1.05);
        }
    }
}